asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
django-filter
django-humanize
djangorestframework
drf-yasg
filelock
humanize
inflection
Markdown
packaging
Pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
pytz
PyYAML
setuptools
sqlparse
typing_extensions
tzdata
uritemplate
virtualenv